spring:
    application:
      name: "ecommerce"

    datasource:
      url: jdbc:mysql://localhost:3306/ecommerce?useSSL=false&serverTimezone=UTC
      username: ${DB_USER}
      password: ${DB_PASSWORD}
      driver-class-name: com.mysql.cj.jdbc.Driver

    output:
      ansi:
        enabled: always

    jpa:
      hibernate:
        ddl-auto: create
      show-sql: true
      defer-datasource-initialization: true

    sql:
      init:
        mode: always
        encoding: UTF-8

application:
  security:
    jwt:
      secret-key: ${SECRET_KEY}
      expiration: 30 # minutes
      refresh-expiration: 300


#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: ###
#            client-secret:


logging:
  level:
    com:
      zaxxer:
        hikari=DEBUG: